<!-- table with search -->
<div class="wel">
	<label>Search for: <input type="text" ng-model="criteria"></label>
</div>
<table class="table table-bordered">
	<thead>
		<th ng-click="sort('name')">
			Name
			<i ng-class="{'icon-chevron-up':isSortUp('name'), 'icon-chevron-down': isSortDown('name')}"></i>
		</th>
		<th ng-click="sort('lastname')">
			Last Name
			<i ng-class="{'icon-chevron-up':isSortUp('lastname'), 'icon-chevron-down': isSortDown('lastname')}"></i>
		</th>
		<th ng-click="sort('age')">
			Age
			<i ng-class="{'icon-chevron-up':isSortUp('age'), 'icon-chevron-down': isSortDown('age')}"></i>
		</th>
	</thead>
	<tbody>
		<tr ng-repeat="friend in friendsFiltered = (friends | filter: criteria | orderBy:sortField:reverse)">
			<td>{{friend.name}}</td>
			<td>{{friend.lastname}}</td>
			<td>{{friend.age}}</td>
		</tr>
		<tr>
			<td colspan="3">
				Total Record: {{friendsFiltered.length}}
			</td>
	</tbody>
</table>